<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="emoji/plugin.js"></script>
  <link rel="stylesheet" th:href="@{/emoji/plugin.js}">
  <link rel="stylesheet" href="http://example.com/ckeditor/plugins/emoji">
  <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<form action="/ckeditor/ck-post" method="post">
  <div class="card mb-3 container" style="margin-top:10px;">
    <textarea name="description" contenteditable="true" th:field="${admin.description}"></textarea>
    <script>
      CKEDITOR.replace( 'description' );

      //CKEDITOR.config.autoParagraph = false;
    </script>
    <div class="card-footer bg-transparent">
      <button type="button" class="btn btn-outline-primary">DISCARD</button>
      <button type="submit" class="btn btn-primary">POST</button>
    </div>
  </div>
</form>

</body>
</html>