<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="emoji/plugin.js"></script>
</head>
<body>
<div class="container mt-5">
    <h3>Hello world</h3>
    <a th:href="@{/ckeditor/ck-post}" style="margin:0 auto 30px auto;"><button type="button" class="btn btn-outline-primary" style="width: 265px;">CREATE TEXT</button></a>
    <div th:each="admin : ${admins}">
        <a th:text="${admin.getDescription}"></a>
    </div>
</div>
</body>
</html>